<header class="container-fluid pt-6 pb-8">
  <div class="row ">
    <div class="col-13 mx-auto">
      <div class="row justify-content-between">
        <div class="col-8 d-flex justify-content-between align-items-center">
          <div>
            <img src="./assets/icons/logo-sector.svg" alt="">
          </div>
          <div>
            <ul class="d-flex m-0 p-0 gap-2">
              <li class="list-unstyled">
                <a href="#" class="text-decoration-none text-black fw-bold open-sans">Описание</a>
              </li>
              <li class="list-unstyled">
                <a href="#" class="text-decoration-none text-black fw-bold">Видео-инструкции</a>
              </li>
              <li class="list-unstyled">
                <a href="#" class="text-decoration-none text-black fw-bold">Загрузки</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-7 d-flex justify-content-between align-items-center">
          <div>
            <ul class="d-flex gap-2 m-0 p-0">
              <li class="list-unstyled">
                <a href="#" class="text-decoration-none text-black fw-bold">Обучение</a>
              </li>
              <li class="list-unstyled">
                <a href="#" class="text-decoration-none text-black fw-bold">Цены</a>
              </li>
              <li class="list-unstyled">
                <a href="#" class="text-decoration-none text-black fw-bold">Поддержка</a>
              </li>
              <li class="list-unstyled">
                <a href="#" class="text-decoration-none text-black fw-bold">Личный кабинет</a>
              </li>
            </ul>
          </div>
          <div class="border-start">
            <a href="#" class="text-decoration-none text-black fw-bold ps-2">Войти</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid position-relative">
  <div class="row no-gutters ">
    <div class="col-13 mx-auto">
      <div class="row justify-content-between">
        <div class="col-7">
          <h1 class="text-black fw-bold">Программа D-Sector</h1>
          <p class="text-gray">Лучшая программа для заполнения таможенных деклараций в Казахстане. Подходит для
            Таможенных представителей
            и Декларантов, осуществляющих самостоятельное декларирование грузов</p>
          <div class="d-flex gap-3 pt-5">
            <button class="btn btn-blue open-sans py-2 px-3 rounded-pill">
              <img src="./assets/icons/cart.svg"
                   class="me-1" alt="">Купить лицензию
            </button>
            <button class="btn border rounded-pills py-2 px-3 open-sans"><img
              src="./assets/icons/play.svg" class="me-1" alt="">Смотреть видео
            </button>
          </div>
        </div>
        <div class="col-7">

          <div class="bg-white d-flex flex-column rounded-2">
            <img src="./assets/img/top.png" alt="" class="rounded-top">

            <span class="lato text-center py-1 fw-500">Декларация на товары</span>

            <div class="d-flex justify-content-between gap-2">
              <div class="bg-background-color">
                <p class="ps-1 fw-500 lato">Гр.31.1 Описание и характеристики товаров</p>
                <p class="ps-1 fw-500 lato">Наименование товаров:</p>
              </div>
              <div class="bg-background-color">
                <p class="ps-1 py-1 fw-500 lato">Регестрационный номер ДТ</p>
              </div>
            </div>

            <div class="d-flex justify-content-between ">
              <p class="text-light-gray lato ps-1 py-1">Игрушечная машина (Игрушки пластмассовые для детских
                развлечений)</p>
              <p class="text-light-gray lato ps-1 py-1">55308 261217 0009068 </p>
            </div>

            <div class="d-flex justify-content-between gap-2">
              <div class="bg-blue d-flex">
                <p class="ps-1 py-1 m-0 lato text-white">Кол-во: 1200</p>
                <p class="ps-1 py-1 pe-1 m-0 lato text-white">Код-ед. изм. 796 шт</p>
              </div>
              <div class="bg-blue d-flex">
                <p class="ps-1 py-1 pe-1 lato text-white m-0">33. Код товара</p>
                <p class="ps-1 py-1 pe-1 lato text-white m-0">9503009500</p>
              </div>
            </div>

            <div class="d-flex gap-1 pt-1 ps-1">
              <span class="lato text-black fw-500">Исходная цена товара: </span>
              <span class="lato text-light-gray">242 USD</span>
            </div>
            <div class="d-flex gap-1 ps-1 pt-1">
              <span class="lato text-black fw-500">Производитель:</span>
              <span class="lato text-light-gray">Wuxi Hualing Filter Equipment </span>
            </div>
            <div class="d-flex gap-1 ps-1 pt-1">
              <span class="lato text-black fw-500">Артикул: </span>
              <span class="lato text-light-gray">12332564</span>
            </div>

            <div class="d-flex gap-1 ps-1 pt-3">
              <p class="lato text-black fw-500">47. Таможенные платежи </p>
              <p class="lato text-light-gray">5 139 360, 96</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="./assets/img/arrow-illustration.svg" alt="">
</div>


